@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
	background: url("./imgs/got.jpg") center center fixed;
	background-size: cover;
	font-family: "Lato", sans-serif;
}
.hgt {
	height: 250px;
}
.rnd {
	border-radius: 10px;
}
#root {
	height: 100vh;
}
#footer {
	color: white;
	font-weight: bold;
	position: relative;
	top: 2vh;
}
#row {
	position: relative;
	top: 5vh;
	margin-bottom: 50px;
}

#main {
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 1;
	color: white;
	text-align: center;
}
